@model List<SitoLtb.ViewModels.UserVM>

@{
    ViewData["Title"] = "Utenti";
}


<main>
<div class="title-button">
    <a  asp-action="Register" asp-controller="User">Aggiungi Utente</a>
    </div>
        <div class="Title-list-of-users">
            <h4>List of Users</h4>
        </div>
        <section>
            <table id="UsersTable">
                <thead> 
                    <tr>
                        <th>Nome</th>
                        <th>Cognome</th>
                        <th>UserName</th>
                        <th>Email</th>
                        <th>Ruolo</th>
                        <th>Reset</th>
                        <th>Elimina</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var user in Model)
                    {
                        <tr>
                            <td>@user.FirstName</td>
                            <td>@user.LastName</td>
                            <td>@user.UserName</td>
                            <td>@user.Email</td>
                            <td>@user.Role</td>
                            <td>
                                <a asp-action="ResetPassword" asp-controller="User" asp-route-id="@user.Id">Reset Password</a>
                            </td>
                            <td>
                                <!-- Modulo per la richiesta POST di eliminazione -->
                            <form asp-area="Admin" asp-controller="User" asp-action="Delete" asp-route-id="@user.Id" method="post" onsubmit="return confirm('Vuoi eliminare questo utente?')">
                                <button type="submit" class="btn btn-danger" title="Elimina">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>
</main>

