@model List<SitoLtb.ViewModels.UserVM>

@{
    ViewData["Title"] = "Utenti";
}

<div >
    <a  asp-action="Register" asp-controller="User">Aggiungi Utente</a>
    <div>
        <div>
            <h4>List of Users</h4>
        </div>
        <div>
            <table id="UsersTable">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Cognome</th>
                        <th>UserName</th>
                        <th>Email</th>
                        <th>Ruolo</th>
                        <th>Reset</th>
                        <th>Elimina</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var user in Model)
                    {
                        <tr>
                            <td>@user.FirstName</td>
                            <td>@user.LastName</td>
                            <td>@user.UserName</td>
                            <td>@user.Email</td>
                            <td>@user.Role</td>
                            <td>
                                <a class="btn btn-info" asp-action="ResetPassword" asp-controller="User" asp-route-id="@user.Id">Reset Password</a>
                            </td>
                            <td>
                                <!-- Modulo per la richiesta POST di eliminazione -->
                                <form action="@Url.Action("Delete", "User")" method="POST" onsubmit="return confirm('Sei sicuro di voler eliminare?');">
                                    <!-- Campo nascosto per passare l'ID dell'utente da eliminare -->
                                    <input type="hidden" name="id" value="@user.Id" />
                                    <button type="submit">Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

