@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model IPagedList<SitoLtb.ViewModels.TournamentVM>

<main>
    <div class="title-button">
        <a asp-action="Create" asp-controller="Tournament" asp-area="Admin">Aggiungi torneo</a>
    </div>

    <div class="Title-list-of-users">
        <h4>Lista dei tornei</h4>
    </div>

    <section>
        <table id="UsersTable">
            <thead>
                <tr>
                    <th>Data Torneo</th>
                    <th>Nome</th>
                    <th>Tipologia</th>
                    <th>Link preiscrizione</th>
                    <th>Link bando</th>
                    <th>Sede</th>
                    <th>Elo</th>
                    <th>Modifica</th>
                    <th>Elimina</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var tournament in Model)
                {
                    <tr>
                        <td>@tournament.Data.ToString("dd/MM/yyyy")</td>
                        <td>@tournament.Nome</td>
                        <td>@tournament.Tipologia</td>
                        <td>
                            <a href="@tournament.LinkPreiscrizione" target="_blank">Link</a>
                        </td>
                        <td>
                            <a href="@tournament.LinkBando" target="_blank">Bando</a>
                        </td>
                        <td>@tournament.Tipologia</td>
                        <td>@(tournament.Elo == true ? "si" : "no")</td>
                        <td>
                            <a asp-area="Admin" asp-controller="Tournament" asp-action="Edit" asp-route-id="@tournament.Id">
                                <i class="fas fa-edit"></i> Modifica
                            </a>
                        </td>
                        <td>
                            <form asp-area="Admin" asp-controller="Tournament" asp-action="Delete" asp-route-id="@tournament.Id" method="post" onsubmit="return confirm('Sei sicuro di voler eliminare questo torneo?');">
                                <button type="submit" class="btn btn-danger" title="Elimina">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>

    <div class="pagination-container">
        Page @(Model?.PageCount < Model?.PageNumber ? 0 : Model?.PageNumber) of @Model?.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
                 new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
                 new PagedListRenderOptions()
        {
            ContainerDivClasses = new List<string> { "blog", "navigation" },
            UlElementClasses = new List<string> { "pagination" },
            LiElementClasses = new List<string> { "page-item" },
            ActiveLiElementClass = "active",
            PageClasses = new List<string> { "page-link" }
        })
    </div>
</main>
