@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model IPagedList<SitoLtb.ViewModels.PostVM>

@{
    ViewData["Title"] = "Post";
}

<main>
    <div class="title-button">
        <a asp-action="Create" asp-controller="Post" asp-area="Admin">Nuovo Post</a>
    </div>

    <div class="Title-list-of-users">
        <h4>Lista dei post</h4>
    </div>

    <section>
        <table id="UsersTable">
            <thead>
                <tr>
                    <th>Immagine</th>
                    <th>Ultima modifica</th>
                    <th>Autore</th>
                    <th>Categoria</th>
                    <th>Modifica</th>
                    <th>Elimina</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var post in Model)
                {
                    <tr>
                        <td>
                            <img src="~/thumbnails/@(post.ThumbnailUrl ?? "default_image.png")" style="width: 80px; height: auto; border-radius: 4px;" />
                        </td>
                        <td>@post.CreatedDate.ToString("dd/MM/yyyy")</td>
                        <td>@post.AuthorName</td>
                        <td>@post.Categoria</td>
                        <td>
                            <a asp-area="Admin" asp-controller="Post" asp-action="Edit" asp-route-id="@post.Id" class="btn btn-primary">Edit</a>
                        </td>
                        <td>
                            <form asp-area="Admin" asp-controller="Post" asp-action="Delete" asp-route-id="@post.Id" method="post" onsubmit="return confirm('Vuoi eliminare questo post?')">
                                <button type="submit" class="btn btn-danger" title="Elimina">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>

    <div>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index",
                 new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
                 new PagedListRenderOptions
        {
            ContainerDivClasses = new List<string> { "blog", "navigation" },
            UlElementClasses = new List<string> { "pagination" },
            LiElementClasses = new List<string> { "page-item", "page-link" },
            ActiveLiElementClass = "active"
        })
    </div>
</main>
