@model SitoLtb.ViewModels.BlogPostVM





            
                <article>
                    <h1>@Model.Title</h1>
                    <div>
                        <img src="@Model.ThumbnailUrl"/>
                    </div>
                <div>
                     @Html.Raw(Model.Description)
                 </div>
                    <span>
                        Posted by
                        <a href="#!">@Model.AuthorName</a>
                        on @Model.CreatedDate.ToShortDateString()
                    </span>
                </article>

<!-- Post Content-->
